@model IEnumerable<TravelBlog.Models.Person>

<h2>People I've met</h2>
<ul>
    @foreach (var person in Model)
    {
        <li>
            @Html.DisplayFor(modelPerson => person.PersonName) <br />
        @Html.DisplayFor(modelPerson => person.PersonDescription)
    </li>
    }
</ul>

<p>@Html.ActionLink("Add new friend", "Create")</p>